---
layout: default
body_class: home
---

<section class="background--light intro padder center">
	<h3>About Me</h3>
	<p class="center">Having completed General Assembly&rsquo;s Immersive Course in 2014, I now work for Big Fish Design Ltd. &ndash; a design, branding and marketing consultancy where I build and maintain CMS systems and online apps for a wide range of clients. While utilising my existing experience this job has also given me the opportunity to explore other frameworks and ways to further my skills. Having tought my self React and Flux, I am now building a new client's website with these frameworks. Having not only enjoyed learning React, the intergration of these frameworks will improve the UX significantly.</p>
</section>


<section class="background--light intro padder--bottom center">
	<h3>Portfolio</h3>
	<p class="center">Initially starting out as a Full Stack Ruby Developer, I now focus on creating clean and modular Front End web apps. These are just a few of the projects that I have worked on&nbsp;recently:</p>

	<ul class="block--grid">
		{% for project in site.projects %}
		<li class="project">
			<a href="#" class="link__removed">
				<img class="project--logo" src="assets/images/min/projects/project__logo--{{ project.name | slugify }}.png" alt="">
				<img class="project--preview" src="assets/images/min/projects/project__preview--{{ project.name | slugify }}.png" alt="">
			</a>

			<article>
				<h4>{{ project.name }}</h4>
				<p>{{ project.description }}</p>

				{% if project.url %}
					<a href="{{ project.url }}" class="cta cta--dark" target="_blank">
						to the website
					</a>
				{% endif %}
			</article>
		</li>
		{% endfor %}
	</ul>
</section>
