---
layout: default
body_class: home
---

<section class="background--light intro padder center">
	<h3>About Me</h3>
	<p class="center">I am a keen cyclist and triathlete with an entheusiasm for food and beer on the side. Starting my coding life out as a graduate of General Assembly, I have been working at Big Fish Design - a branding and marketing consultancy - as a Front End Developer since 2014. Having created a number of WordPress sites and small projects on the side, I am currently building a React-Redux e-commerce app. Developed in bi-monthly and weekly sprints, I am now a keen React developer always looking to improve my work.</p>
</section>


<section class="background--light intro padder--bottom center">
	<h3>Portfolio</h3>
	<p class="center">Initially starting out as a Full Stack Ruby Developer, I now focus on creating clean and modular Front End web apps. These are just a few of the projects that I have worked on&nbsp;recently:</p>

	<ul class="block--grid">
		{% for project in site.projects  %}
		<li class="project">
			<a href="#" class="link__removed">
				<img class="project--logo" src="assets/images/min/projects/project__logo--{{ project.name | slugify }}.png" alt="">
				<img class="project--preview" src="assets/images/min/projects/project__preview--{{ project.name | slugify }}.png" alt="">
			</a>

			<article>
				<h4>{{ project.name }}</h4>
				<p>{{ project.description }}</p>

				{% if project.url %}
					<a href="{{ project.url }}" class="cta cta--dark" target="_blank">
						to the website
					</a>
				{% endif %}
			</article>
		</li>
		{% endfor %}
	</ul>
</section>
