---
layout: page
title: Portfolio
permalink: /work/
---

<p>Starting off as a full stack developer in 2014 after learning web development at General Assembly, I now focus in my front end skills.</p>

<p>Currently working as a front end developer at Big Fish Design in London, I maintain and develop large scale sites. I was given the role of lead dev on the creationg and release of <a href="http://www.9bar.com">9Bar</a>. I now look after the refactoring and imporvements of this site, alongside the redevelopment of all the <a href="http://www.tyrrellscrisps">Tyrrells'</a> sites and the upkeep of many more</p>


<p>Check out some of my recent work below:</p>

<ul class="list list__projects list__projects--sites">
	<!-- <li>
		<a href="#" class="ga-projects">GA</a>

		<section class="hidden">
			<p>I studied at Genearl Assembly in the summer of 2014, I finshed having poduced three ruby on rails&nbsp;apps.</p>
			<ul class="list list__ga">
				<li>
					<a href="#" class="no-link">Ski App</a>
					<p>Ski route tracking intergrated with google maps and geolocation</p>
				</li>
				<li>
					<a href="#" class="no-link">Photo App</a>
					<p>A take on Instagram mixed with Facebook. Uploade photos, share, rate and comment</p>
				</li>
				<li>
					<a href="#" class="no-link">Tic Tac Toe</a>
					<p>The classic game of noughts and crosses with single player; local two player and local network multiplayer</p>
				</li>
			</ul>
			<hr>
		</section>
	</li> -->

	{% for my_site in site.my_sites %}
		<li>
			<a href="{{ my_site.url }}">
				<img src="{{ site.url }}/assets/images/sites/{{ my_site.image }}" width="140" height"90" alt="{{ my_site.name }}">
			</a>
		</li>
	{% endfor %}
</ul>

{% if site.tools %}
	<h2 class="heading--lazyload">Langauges, Frameworks and Tools</h2>

	<ul class="list list__projects list__projects--tools">
		{% for tool in site.tools %}
			<li><a href="#" class="no-link">{{ tool.name }}</a></li>
		{% endfor %}
	</ul>
{% endif %}