---
layout: page
title: Portfolio
permalink: /portfolio/
---

<p>Starting off as a Full Stack developer in 2014 after learning web development at General Assembly, I now focus my skills as a Front End Devloper, and am now also contribute in UX design</p>

<p>Currently working as a UX Designer and Front End Developer at Make Us Proud in London, I am designing and creating an initial prototype for a competitor to AWS. Previously, I was given the role of lead dev on a number of WordPress builds including <a href="http://www.9bar.com">9Bar</a> and <a href="http://www.tyrrellscrisps.co.uk">Tyrrells'</a>, later on moving towards a Single Page Web app with React / Redux with <a href="http://www.freddiesflowes.com">Freddie's Flowers</a>.</p>

<p>Outside of work I try and fit attending meetups and conferences around a semi-hectic cycling schedule - competing in road races, a few track events and the odd triathlon end of the season.</p>

<p>Check out some of my recent work below:</p>

<ul class="list list__projects list__projects--sites">
	<!-- <li>
		<a href="#" class="ga-projects">GA</a>

		<section class="hidden">
			<p>I studied at Genearl Assembly in the summer of 2014, I finshed having poduced three ruby on rails&nbsp;apps.</p>
			<ul class="list list__ga">
				<li>
					<a href="#" class="no-link">Ski App</a>
					<p>Ski route tracking intergrated with google maps and geolocation</p>
				</li>
				<li>
					<a href="#" class="no-link">Photo App</a>
					<p>A take on Instagram mixed with Facebook. Uploade photos, share, rate and comment</p>
				</li>
				<li>
					<a href="#" class="no-link">Tic Tac Toe</a>
					<p>The classic game of noughts and crosses with single player; local two player and local network multiplayer</p>
				</li>
			</ul>
			<hr>
		</section>
	</li> -->

	{% for my_site in site.my_sites %}
		<li>
			<a href="{{ my_site.url }}">
				<img src="{{ site.url }}/assets/images/sites/{{ my_site.image }}" width="140" height"90" alt="{{ my_site.name }}">
			</a>
		</li>
	{% endfor %}
</ul>

{% if site.tools %}
	<h2 class="heading--lazyload">Langauges, Frameworks and Tools</h2>

	<ul class="list list__projects list__projects--tools">
		{% for tool in site.tools %}
			<li><a href="#" class="no-link">{{ tool.name }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
