<footer class="site-footer clearfix">

    <h3>Get in touch</h3>

    <section class="social-links">
	    <ul class="remove-default">
	    	{% for socialite in site.social %}
				<li>
					<a href="{{ socialite.url }}">
						<i class="icon-{{ socialite.name | downcase }}"></i> <p>{{ socialite.username }}</p>
					</a>
				</li>
	    	{% endfor %}
				<li>
					<a href="https://www.strava.com/athletes/7778906">
						<i class="icon-strava">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 242 337" style="enable-background:new 0 0 242 337;" xml:space="preserve">
                <style type="text/css">
                .st0{fill:#FFFFFF;stroke:#FFFFFF;}
                .st1{fill:#FFFFFF;stroke:#FFFFFF;stroke-opacity:0.9707;}
                </style>
                <title>strava</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1_1_">
                  <g id="strava_1_" transform="translate(1.000000, 0.000000)">
                    <g id="Page-1">
                      <g id="strava">
                        <polygon id="Path" class="st0" points="0.2,194.3 97.6,0.7 195.6,193.4 137.6,193.9 98.3,116.9 59.6,194 				"/>
                        <polygon id="Path-2" class="st1" points="94,193.3 137.4,194.2 166.3,250.4 196.3,194.4 239.9,194.3 167.3,337 				"/>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </i>
						<p>Alex Windett</p>
					</a>
				</li>
	    </ul>
	</section>

    <script src="{{ "/assets/scripts/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/scripts/concat/script.js?v=1.0.0" | prepend: site.baseurl }}"></script>

</footer>
