<footer class="site-footer clearfix">

    <h3>Get in touch</h3>

    <section class="social-links">
	    <ul class="remove-default">
	    	{% for socialite in site.social %}
				<li>
					<a target="_blank" href="{{ socialite.url }}">
						<i class="icon-{{ socialite.name | downcase }}"></i> <p>{{ socialite.username }}</p>
					</a>
				</li>
	    	{% endfor %}
				<li>
					<a href="https://www.strava.com/athletes/7778906">
						<i target="_blank" class="icon-strava">
                {% include parts/strava-socialite.html %}
            </i>
						<p>Alex Windett</p>
					</a>
				</li>
	    </ul>
	</section>

    <script src="{{ "/assets/scripts/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/scripts/concat/script.js?v=1.0.0" | prepend: site.baseurl }}"></script>

</footer>
