<header class="navigation" role="banner">
    <div class="navigation-wrapper">
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
            <i class="fa fa-bars"></i>
        </a>
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">
                <li class="nav-link">
                     <a href="http://windett.co.uk">
                        Home
                    </a>
                </li>
                <li class="nav-link"><a href="/contact">Contact</a></li>
                <li class="nav-link"><a href="/portfolio">Portfolio</a></li>
                <li class="nav-link"><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
