<header class="site-header">

	<nav>
		<ul class="header-menu remove-default clearfix">
			<li><a href="{{ '/' | prepend: baseurl }}">Home</a></li>
			<!-- <li><a href="#">Portfolio</a></li> -->
			<li><a href="{{ '/blog' | prepend: baseurl }}">Blog</a></li>
			<li><a href="{{ '/assets/files/Alex_Windett_CV.pdf' | prepend: baseurl }}" target="_blank">Download CV</a></li>
			<!-- <li><a href="#">Get in touch</a></li> -->
			<li><a href="{{ '/scotland' | prepend: baseurl }}">Highland 550</a></li>
		</ul>

		 <ul class="burger-bar">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
</header>
