.cover__image {
	background-image: url($image-path + "home_cover.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $color__bg--dark;
	padding: 7% 0;

	&--portrait {
		text-align: center;

		img {
			border-radius: 14rem;
		}
	}

	&--title {
	    margin: 4rem auto 0;
	    width: 37rem;
	    text-align: center;
	}
}
