footer {

	background: $color__bg--dark;
	padding: 10rem 0;

	h3 {
		text-align: center;
	}

	.social-links {
	    width: 24rem;
	    margin: 0 auto;
	    margin-top: 2rem;
	}

	li {
		padding-bottom: 1rem;
		i {
			font-size: 2.5rem;
			margin-right: 1rem;
		}

		p {
			font-family: $font__heading--main;
			font-size: 1.8rem;
			line-height: 2.4rem;
			display: inline-block;
		}
	}

// Having to improvise as using custom desing / imported SVG
	.icon-strava {
	    svg {
				height: 25px;
		    margin-left: 8px;
		    margin-right: 5px;
			}

			& + p {
				position: relative;
				top: -5px;
			}
	}
}
