.background--light {

	h3 {
		color: $color__copy;
	}
}

section.padder {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

section.padder--bottom {
	padding-bottom: 10rem;
}

section.padder--top {
	padding-top: 10rem;
}

section.intro {
	width: 70%;
    margin: 0 auto;

	@media #{$large-up} {
		padding-left: 0;
		padding-right: 0;
	}

	h3 {
		margin-bottom: 3rem;
	}

	> p {
		max-width: 49.5rem;
		margin-left:  auto;
		margin-right:  auto;
	}
}
