body.home {

	.cover__image {
		background: url($image-path + "home_cover.png");
		background-size: 100% 100%;;
		padding: 7% 0;

		&--portrait {
			text-align: center;

			img {
				border-radius: 14rem;
			}
		}

		&--title {
		    margin: 4rem auto 0;
		    width: 33rem;
		    text-align: center;
		}
	}


	.homecopy {
		padding-top: 10rem;
		padding-bottom: 10rem;

		h3 {
			margin-bottom: 3rem;
		}

		&--portfolio {
			padding-left: 5rem;
			padding-right: 5rem;

			@media #{$large-up} {
				padding-left: 0;
				padding-right: 0;
			}

			> p {
				max-width: 49.5rem;
				margin: 0 auto;
				margin-bottom: 3rem;
			}

			h3 {
				color: $color__copy;
			}
		}
	}

	.block--grid {
		max-width: 70rem;
		margin: 0 auto;
		text-align: left;
		position: relative;

		li {
			position: relative;
			width: 100%;
			padding: 1rem 0;

			@include transition(ease-in-out, 0.2s);

			@media #{$large-up} {
			 	width: 33%;
				display: inline-block;
				padding: 0.5rem;
			}

			img {
				width: 100%;
			}

			.project--preview,
			article {
				display: none;
			}

			&:hover {
				@include opacity(0.6);
				@include transition(ease-in-out, 0.2s);
			}

			&.active {
				// If its the active item, remove hover effect
				@include opacity(1);

				article {
					display: block;
					position: absolute;
					top: 0;
					width: 200%;
					margin-left: 24rem;

					h4 {
						font-family: $font__heading--main;
						font-size: 2.7rem;
						line-height: 3.2rem;
						color: $color__copy;
					}

					.cta {
						font-family: $font__heading--main;
					    font-size: 2rem;
					    color: $color__copy--light;
					    padding: 1rem 3rem;
					    width: 46%;
					    text-align: center;
					}
				}

				.project--preview {
					display: block;
				}
			}
		}
	}
}