{% if site.post_sharing == "true" %}
    <section class="share">
        <span>Share: </span>
        {% for social in site.social %}
        	{% if social.name == "Twitter" and social.share == true %}
        		<a href="//twitter.com/share?text={{ page.title | cgi_escape }}&url={{ site.url | append: site.baseurl }}{{ page.id }}.html&via={{social.username}}"
        			onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        			<i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
        		</a>
        	{% endif %}
        	{% if social.name == "Facebook" and social.share == true %}
        		<a href="//www.facebook.com/sharer.php?t={{ page.title | cgi_escape }}&u={{ site.url | append: site.baseurl }}{{ page.id }}.html"
        			onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        			<i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
        		</a>
        	{% endif %}
        	{% if social.name == "Google+" and social.share == true %}
        		<a href="//plus.google.com/share?title={{ page.title | cgi_escape }}&url={{ site.url | append: site.baseurl }}{{ page.id }}.html"
        			onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        			<i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
        		</a>
        	{% endif %}
        	{% if social.name == "LinkedIn" and social.share == true %}
        		<a href="//www.linkedin.com/shareArticle?mini=true&url={{ site.url | append: site.baseurl }}{{ page.id }}.html"
        			onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        			<i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
        		</a>
        	{% endif %}
        	{% if social.name == "Pinterest" and social.share == true %}
        		<a href="//www.pinterest.com/pin/create/button/?description={{ page.title | cgi_escape }}&url={{ site.url | append: site.baseurl }}{{ page.id }}.html&media={{ site.url }}{% if page.cover %}{{ page.cover | prepend: site.baseurl  }}{% elsif site.cover %}{{ site.cover | prepend: site.baseurl }}{% else %}{{ site.logo | prepend: site.baseurl }}{% endif %}"
        			onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        			<i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
        		</a>
        	{% endif %}
        {% endfor %}
    </section>
{% endif %}

{% if site.disqus_shortname %}
    {% unless page.disqus_disabled %}
        <section class="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus_shortname }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
    {% endunless %}
{% endif %}