// ***************************
//	$$ Fonts
// ***************************

// Generate @font-face declarations for a list of fonts

// relative path to fonts
$font-path: '../assets/fonts/';

// the name that will be used in font-family property
// Add in 'fontello' when needed
$font-families: 'Raleway Italic', 'Raleway Thin';

// the filename of your font without the file extension
// Add in 'fontello' when needed
$font-filenames: 'raleway-italic-webfont', 'raleway-thin-webfont';
$i: 1;

@each $font-family in $font-families {

	@font-face {
        font-family: $font-family;
        src: url($font-path + nth($font-filenames, $i) + '.eot');
        src: url($font-path + nth($font-filenames, $i) + '.eot?#iefix') format('embedded-opentype'),
        url($font-path + nth($font-filenames, $i) + '.woff2') format('woff2'),
        url($font-path + nth($font-filenames, $i) + '.woff') format('woff'),
        url($font-path + nth($font-filenames, $i) + '.ttf') format('truetype'),
        url($font-path + nth($font-filenames, $i) + '.svg#' + $font-family ) format('svg');
        font-weight: normal;
        font-style: normal;
    }

    $i: $i+1;

}


@font-face {
    font-family: 'Fontello';
    src: url($font-path + 'fontello.eot');
    src: url($font-path + 'fontello.eot?#iefix') format('embedded-opentype'),
    url($font-path + 'fontello.woff') format('woff'),
    url($font-path + 'fontello.ttf') format('truetype'),
    url($font-path + 'fontello.svg#fontello' ) format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url( $font-path + 'fontello.svg?60423074#fontello') format('svg');
  }
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */