.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// .hr {
// 	border-bottom: 1px solid $color__hr;
// 	margin: 7rem auto 5rem;
// 	width: 60%;

// 	@extend .clearfix;
// }

.background--dark {
	background: $color__bg--dark;
}

.background--light {
	background: $color__bg--light;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

ul.remove-default {

	margin-left: 0;
	list-style: none;
}