$body-background: #ffffff;

$color__copy: #64b178;
$color__copy--light: #ffffff;
$color__copy--dark: #464646;

$color__bg--dark: #64b178;
$color__bg--light: #ffffff;

$color__cta--background: $color__bg--dark;
$color__cta--text: #ffffff;



$image-path: '../assets/images/';

$font__heading--main: "Raleway Thin";
$font__heading--secondary: "Raleway Italic";
$font__paragraph: "Palatino";