---
layout: default
---
<section class="post-single">
	<div class="post">

		<header class="post-header">
			<h2 class="post-title">{{ page.title }}</h2>

			{% if page.image %}
				<img src="{{ page.image | prepend: site.baseurl }}" alt="{{ page.title }}">
				<p class="image-credit">Image credit – <a href="{{ page.image_credit_url }}">{{ page.image_credit }}</p></a>
			{% endif %}
		</header>

		<article class="post-content">
			{{ content }}

			<div class="page-navigation clearfix">
				<ul>
			        <li>
			          	{% if page.previous.url %}
					        <a rel="prev" href="{{ page.previous.url }}">&laquo;&nbsp;{{ page.previous.title }}</a>
				        {% endif %}
			        </li>

			    	<li><a href="/blog">Back to archive...</a></li>

			        <li>
				        {% if page.next.url %}
				        	<a rel="next" href="{{ page.next.url }}">{{ page.next.title }}&nbsp;&raquo;</a>
				        {% endif %}
			        </li>
			    </ul>
			</div>

		</article>

	</div>
</section>
